<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js"></script>
<script src="/assets/script.js"></script>

<section class="section-dense">
    <div class="container">
        <h1>{{ country.country }}</h1>
    </div>
</section>

<section class="section-dense section-dark">
    <div class="container">

        <h2>Datasets</h2>

        <div id="datasets"></div>
    </div>

</section>

<section class="section-dense">
    <div id="sunburst" style="height: 600px;"></div>
</section>

<script>

let currentSkip = 0;
const pageSize = 10;

async function fetchDatasets(skip = 0) {
    currentSkip = skip;
    
    const url = `https://api.obis.org/dataset?countryid={{ country.id }}&size=${pageSize}&skip=${skip}`;

    const resultsDiv = document.getElementById("datasets");
    resultsDiv.innerHTML = "<p>Searching...</p>";

    try {
        const response = await fetch(url);
        const data = await response.json();

        if (data && data.results && data.results.length > 0) {
            renderTable("datasets", data.results, data.total, skip, pageSize, renderDatasetItem, fetchDatasets);
        } else {
            resultsDiv.innerHTML = "<p>No results found.</p>";
        }
    } catch (error) {
        resultsDiv.innerHTML = "<p>Error fetching results.</p>";
        console.error(error);
    }
}

fetchDatasets();

fetchTaxonomy({ countryid: "{{ country.id }}" }).then(convertToSunburst).then((data) => {
    var layout = {
        margin: {l: 0, r: 0, b: 30, t: 30},
        sunburstcolorway: ["#a6cee3", "#1f78b4", "#b2df8a", "#33a02c", "#fb9a99", "#e31a1c", "#fdbf6f", "#ff7f00", "#cab2d6", "#6a3d9a", "#ffff99", "#b15928"]
        // sunburstcolorway: ["#54bebe", "#76c8c8", "#98d1d1", "#badbdb", "#dedad2", "#e4bcad", "#df979e", "#d7658b", "#c80064"]
    };
    Plotly.newPlot("sunburst", data, layout);
});
  
</script>