<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js"></script>
<script src="/assets/script.js"></script>

<section class="section-dense">
    <div class="container">

        <p>Organization</p>
        <h1>{{ organization.name }}</h1>
    </div>
</section>

<section class="section-dense section-dark">
    <div class="container">

        <h2>Datasets</h2>

        <div id="datasets"></div>
    </div>

</section>

<section class="section-dense">
    <div id="sunburst" style="height: 600px;"></div>
</section>

<script>
renderSunburst("sunburst", { instituteid: "{{ organization.id }}" });
renderDatasetTable("datasets", { instituteid: "{{ organization.id }}" });
</script>