<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js"></script>
<script src="/assets/script.js"></script>

<section class="section-dense">
<div class="container">
    
<p>Taxon</p>

<div class="d-flex align-items-end gap-2 mb-2">
    <h1 class="mb-0">{{ taxon.scientificName }}</h1>
    {% if taxon.scientificNameAuthorship %}
    <span>{{ taxon.scientificNameAuthorship }}</span>
    {% endif %}
    {% if taxon.taxonomicStatus != 'accepted' %}
    <span class="badge bg-warning">{{ taxon.taxonomicStatus }}</span>
    {% endif %}
    <span class="badge bg-light text-dark">{{ taxon.taxonRank }}</span>
</div>

<p>
{% if taxon.kingdom %}
<a href="/taxon/{{ taxon.kingdomid }}">{{ taxon.kingdom }}</a>
{% endif %}
{% if taxon.phylum %}
> <a href="/taxon/{{ taxon.phylumid }}">{{ taxon.phylum }}</a>
{% endif %}
{% if taxon.class %}
> <a href="/taxon/{{ taxon.classid }}">{{ taxon.class }}</a>
{% endif %}
{% if taxon.order %}
> <a href="/taxon/{{ taxon.orderid }}">{{ taxon.order }}</a>
{% endif %}
{% if taxon.family %}
> <a href="/taxon/{{ taxon.familyid }}">{{ taxon.family }}</a>
{% endif %}
{% if taxon.genus %}
> <a href="/taxon/{{ taxon.genusid }}">{{ taxon.genus }}</a>
{% endif %}
</p>

{% if taxon.acceptedNameUsage and taxon.taxonomicStatus != 'accepted' %}
<p>Accepted name: <a href="/taxon/{{ taxon.acceptedNameUsageID }}">{{ taxon.acceptedNameUsage }}</a></p>
{% endif %}

<!-- <h3>Environment</h3>
<p>
{% if taxon.is_marine %}
<span class="badge bg-primary">Marine</span>
{% endif %}
{% if taxon.is_brackish %}
<span class="badge bg-info">Brackish</span>
{% endif %}
{% if taxon.is_freshwater %}
<span class="badge bg-success">Freshwater</span>
{% endif %}
{% if taxon.is_terrestrial %}
<span class="badge bg-warning">Terrestrial</span>
{% endif %}
</p> -->

<!-- {% if taxon.ncbi_id %}
<h3>External links</h3>
<p>
<a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ taxon.ncbi_id }}" target="_blank">NCBI Taxonomy</a>
</p>
{% endif %} -->

<div class="row">
    <div class="col">
        {% with filter="taxonid=" + taxon.taxonID|string %}
        {% include "components/map.html" %}
        {% endwith %}
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div id="timeplot"></div>
    </div>
    <div class="col-12 col-md-6">
        <div id="envplot"></div>
    </div>
</div>

</div>
</section>

<section class="section-dense section-dark">
    <div class="container">
        <h2>Datasets</h2>
        <div id="datasets"></div>
    </div>
</section>        

<section class="section-dense section-light">
    <div class="container">
        <h2>Child taxa</h2>
        <div id="children"></div>
    </div>
</section>        

<script>
renderDatasetTable("datasets", { taxonid: "{{ taxon.taxonID }}" });
renderTimeplot("timeplot", { taxonid: "{{ taxon.taxonID }}" })
renderEnvironmentPlots("envplot", { taxonid: "{{ taxon.taxonID }}" })
renderTaxonTable("children", "/taxon/{{ taxon.taxonID }}/children", {})

</script>