<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js"></script>
<script src="/assets/script.js"></script>

<section class="section-dense">
<div class="container">
    
<p>Taxon</p>

<div class="d-flex align-items-end gap-2 mb-2">
    <h1 class="mb-0">{{ taxon.scientificName }}</h1>
    {% if taxon.scientificNameAuthorship %}
    <span>{{ taxon.scientificNameAuthorship }}</span>
    {% endif %}
    {% if taxon.taxonomicStatus != 'accepted' %}
    <span class="badge bg-warning">{{ taxon.taxonomicStatus }}</span>
    {% endif %}
    <span class="badge bg-light text-dark">{{ taxon.taxonRank }}</span>
</div>

<p>
{% if taxon.kingdom %}
<a href="/taxon/{{ taxon.kingdomid }}">{{ taxon.kingdom }}</a>
{% endif %}
{% if taxon.phylum %}
> <a href="/taxon/{{ taxon.phylumid }}">{{ taxon.phylum }}</a>
{% endif %}
{% if taxon.class %}
> <a href="/taxon/{{ taxon.classid }}">{{ taxon.class }}</a>
{% endif %}
{% if taxon.order %}
> <a href="/taxon/{{ taxon.orderid }}">{{ taxon.order }}</a>
{% endif %}
{% if taxon.family %}
> <a href="/taxon/{{ taxon.familyid }}">{{ taxon.family }}</a>
{% endif %}
{% if taxon.genus %}
> <a href="/taxon/{{ taxon.genusid }}">{{ taxon.genus }}</a>
{% endif %}
</p>

{% if taxon.acceptedNameUsage and taxon.taxonomicStatus != 'accepted' %}
<p>Accepted name: <a href="/taxon/{{ taxon.acceptedNameUsageID }}">{{ taxon.acceptedNameUsage }}</a></p>
{% endif %}

<!-- <h3>Environment</h3>
<p>
{% if taxon.is_marine %}
<span class="badge bg-primary">Marine</span>
{% endif %}
{% if taxon.is_brackish %}
<span class="badge bg-info">Brackish</span>
{% endif %}
{% if taxon.is_freshwater %}
<span class="badge bg-success">Freshwater</span>
{% endif %}
{% if taxon.is_terrestrial %}
<span class="badge bg-warning">Terrestrial</span>
{% endif %}
</p> -->

<!-- {% if taxon.ncbi_id %}
<h3>External links</h3>
<p>
<a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ taxon.ncbi_id }}" target="_blank">NCBI Taxonomy</a>
</p>
{% endif %} -->

<div class="row gx-5">
    <div class="col">
        {% with filter="taxonid=" + taxon.taxonID|string %}
        {% include "components/map.html" %}
        {% endwith %}
    </div>
</div>

<div class="row gx-5">
    <div class="col">
        <div id="timeplot"></div>
    </div>
</div>

</div>
</section>

<section class="section-dense section-dark">
    <div class="container">
        <h2>Datasets</h2>
        <div id="datasets"></div>
    </div>
</section>        

<script>
let currentSkip = 0;
const pageSize = 10;

async function fetchDatasets(skip = 0) {
    currentSkip = skip;
    
    const url = `https://api.obis.org/dataset?taxonid={{ taxon.taxonID }}&size=${pageSize}&skip=${skip}`;

    const resultsDiv = document.getElementById("datasets");
    resultsDiv.innerHTML = "<p>Searching...</p>";

    try {
        const response = await fetch(url);
        const data = await response.json();

        if (data && data.results && data.results.length > 0) {
            renderTable("datasets", data.results, data.total, skip, pageSize, renderDatasetItem, fetchDatasets);
        } else {
            resultsDiv.innerHTML = "<p>No results found.</p>";
        }
    } catch (error) {
        resultsDiv.innerHTML = "<p>Error fetching results.</p>";
        console.error(error);
    }
}

fetchDatasets();

renderTimeplot("timeplot", { taxonid: "{{ taxon.taxonID }}" })

</script>