<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Ocean Biodiversity Information System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% for item in site.menu %}
          <li class="nav-item">
            {% if item.subitems %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ item.title }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for subitem in item.subitems %}
                <li><a class="dropdown-item" href="{{ subitem.url }}">{{ subitem.title }}</a></li>
              {% endfor %}
            </ul>
            {% else %}
            <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>

      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contribute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Data</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Manual</a></li>
              <li><a class="dropdown-item" href="#">Outreach</a></li>
              <li><a class="dropdown-item" href="#">Publications</a></li>
            </ul>
          </li>
        </ul>
      </div> -->

    </div>
  </nav>