:root {
    --light-grey: #f6f6f6;
    --highlight: #B1B695;
}

a {
    color: #000000;
}

#map {
    padding: 100px;
    background-color: var(--light-grey);
}

h2 {
    margin-bottom: 1em;
}

.card {
    border-radius: 10px;
}

.card-img-top, .card-img-top img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.section-light .card {
    background-color: var(--light-grey);
    border: 0px;
}

.section-light .card-img-top {
    background-color: var(--light-grey);
}

.section-dark .card {
    background-color: #ffffff;
    border: 0px;
}

.section-light .card .badge, .section-dark .card .badge {
    background-color: var(--highlight);
    color: #ffffff;
    font-weight: normal;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-dark {
    background-color: var(--light-grey);
}

.section-light {
    background-color: #ffffff;
}

.card-title a {
    color: #000000;
}

.tagline {
    font-size: 1.3rem;
    margin-top: 1.2rem;
    margin-bottom: 1.7rem;
}

.tag {
    font-size: 0.9rem;
}

.intro {
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-post {
    max-width: 700px;
}

.contacts {
    list-style: none;
    padding-left: 0;
}

.contacts a {
    color: var(--highlight)
}