<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div id="map" style="background-image: url('/images/hero2.png'); background-size: cover; background-position: center; height: 300px; position: relative;">
      <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.3);"></div>
      <div class="container h-100 d-flex align-items-center justify-content-center" style="position: relative; z-index: 1;">
        <div class="text-center display-3" style="color: #2c3e50; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;">
          Marine biodiversity data at your fingertips
        </div>
      </div>
    </div>

    {{ content }}

    {% include footer.html %}
  </body>
</html>